#output {
  max-width: 100%;
}

h2 {
  background: cornflowerblue;
  color: white;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "videoFeed motionMap"
    "motionIndicator motionIndicator"
    "outputImages outputImages";
  gap: 1em;
}

#video-feed {
  grid-area: videoFeed;
  background-color: gray;
}

#video-feed video {
  width: 100%;
}

#motion-map {
  grid-area: motionMap;
  background-color: black;
}

#motionMap {
  width: 100%;
  background-color: black;
}

#motion-indicator {
  grid-area: motionIndicator;
  background-color: green;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
}

#motion-indicator span {
  background-color: white;
  color: black;
}

#output-images {
  grid-area: outputImages;
}
