<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Sentinel</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div id="main-container">
      <div id="video-feed">
        <h2>Video Feed</h2>
        <video id="video" autoplay></video>
      </div>
      <div id="motion-map">
        <h2>Motion Map</h2>
        <canvas id="motionMap"></canvas>
      </div>
      <div id="motion-indicator">
        <span id="motionScoreData"></span>
      </div>
    </div>
  </body>
  <script src="/static/sentinel.js"></script>
</html>
